<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alamkanak.weekview.emoji">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.alamkanak.weekview.emoji.EmojiProcessingInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
